body {
    background-color: var(--color-page-background);
    color: var(--color-text-primary);
    font-family: var(--font-family);
    
    padding-top: var(--header-height);
}

header {
    position: fixed;
    height: var(--header-height);
    width: var(--full-size);
    top: 0;
    background-color: var(--color-surface-dark);

    font-family: var(--font-family);

    display: flex;
    flex-direction: row;
    justify-content: left;
}

footer {
    display: flex;
    flex-direction: row;
    height: var(--footer-height);
    width: var(--full-size);
    align-items: center;
    margin-top: var(--footer-top-margin);

    font-family: var(--font-family);

    background-color: var(--color-accent);
    color: var(--color-text-dark);
}

h1, h2, h3, h4 {
    color: var(--color-accent);
    text-align: center;
}

h1 {
    font-size: var(--font-size-h1);
}

h2 {
    font-size: var(--font-size-h2);
}

h3 {
    font-size: var(--font-size-h3);
}

h4 {
    font-size: var(--font-size-h4);
}

p {
    font-size: var(--font-size-body);
}

a {
    color: var(--color-accent);
}

strong {
    font-weight: var(--font-weight-strong);
    color: var(--color-accent);
}

video {
    display: block;
    width: var(--default-video-width);
    object-fit: contain;
    margin: 0 auto;
}
